.header-text{
    margin: 40px 0;
    color: #000;
}
.video {
    width: 60%;
    margin: 0 auto;
}
.header-join-btn {
    padding: 10px 30px;
    margin: 0 auto;
}
i {
    margin: 0 7px;
}
.join-link {
    margin: 0 auto;
}
.logo {
    width: 100%;
    height: 130px;
    margin-bottom: 30px;
}
.logo-img {
    background-image:url(../img/channels4_profile.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0    auto;
    border-radius:20px;
    width: 150px;
    height: 150px;
}
.join-cont {
    margin: 0 auto;
}
@media (max-width: 767px) { 
    .video {
        width: 90%;
    }
    iframe {
        height: 220px;
    }
}
@media (min-width: 767px) and (max-width: 992px) { 
    .video {
        width: 90% !important;
    }
}

@media (min-width: 993px) and (max-width: 1200px) { 
    .video {
        width: 70% !important;
    }
}