.header-text{
    margin-bottom: 20px;
    color: white;
}
.video {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    border: 2px solid white;
}
@media (max-width: 767px) { 
    .video {
        width: 90%;
        height: 200px !important;
    }
}