.nav {
    width: 100%;
    padding: 0 2.5rem;
    display: block;
}
.container {
    display: flex;
    padding: 20px 0;
}

.nav-btn {
    z-index: 5;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: rgb(71,168,201);
background: linear-gradient(0deg, rgba(71,168,201,1) 0%, rgba(47,87,154,1) 39%, rgba(23,0,103,1) 100%);    align-items: center;
    font-family: Leaguespartan, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    position: relative;
    border: 2px solid #fff;
}
.btn {
    border-radius: 10px;
    padding: 8px 13px;
}
.nav-btn:hover {
    border: 2px solid #000;
}
.contact-link {
    color: #000;
}
.join-link {
    color: #000;
}
.link {
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    transition-duration: .2s;
    color: #000;
}
.btn:hover {
    cursor: pointer;
}
.btn:hover {
    color: #282C34;
}
.btn:active {
    color: #282C34 !important;
}
.nav-box {
    display: flex;
}
@media (max-width: 767px) { 
    .nav-box {
        overflow: hidden;
        padding: 5px;
        width: 25%;
        text-align: center;
    }
    .nav-link {
        width: 100%;
        font-size: 17px;
        text-align: center;
    }

}
@media (min-width: 767px) and (max-width: 992px) { 

}

@media (min-width: 993px) and (max-width: 1200px) { 

}
